:host {
  margin-top: 1rem;
  color: var(--text-secondary);
  background-color: var(--background-neutral);
}

div {
  height: 4rem;
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
